body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #fdf7ff;
    color: #4a3d54;
}

.main-header {
    width: 100%;
    padding: 15px 25px;
    background: #2c2c2c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-left h1 {
    margin: 0;
    font-size: 28px;
}

.header-left p {
    margin: 0;
    font-size: 13px;
    opacity: 0.7;
}

.header-nav {
    display: flex;
    gap: 20px;
}

.header-nav a {
    text-decoration: none;
    color: #fdfdfd;
    font-weight: 500;
    transition: 0.3s;
}

.header-nav a:hover {
    color: #ffb3e6;
}

.header-search {
    display: flex;
    gap: 6px;
}

.header-search input {
    padding: 6px;
    border-radius: 6px;
    border: none;
}

.header-search button {
    padding: 6px 10px;
    background: #ffb3e6;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

section {
    padding: 40px;
    margin: 30px auto;
    width: 80%;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
    color: #b86bff;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background: #2c2c2c;
    color: white;
}

